body{
    margin: 0 auto;
    color:burlywood ;
}
section.top-page{
    background: url('../images/page\ principale.jpg');
    background-size:cover ;
    height: 80vh;
    padding: 25px;
}
 header.header{
    display: flex;
    align-items: center;
 }

header.header img{
    width: 60px;
}
nav.nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 500px;
    margin-left: 400px;
    font-size: 20px;
    }

nav.nav li{
    color:black;
}
.big-title{
    color: red;
    font-size: 70px;
    padding: 2px 500px;
}
.cities {
    display: flex;
    justify-content: space-around; /* Répartit les images uniformément sur une ligne */
    margin-top: 100px; /* Ajoute de l'espace au-dessus des images */
    padding: 10px;
    gap: 30px; /* Espacement entre les images */
   
}
.city {
    width: 70%; /* Chaque image occupe environ 23% de la largeur de la section */
    text-align: center; /* Centre le texte sous l'image */
}
.city img {
    width: 80%; /* L'image occupe toute la largeur de son parent */
    height: auto;
    border-radius: 20px; /* Coins arrondis pour les images */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Ombre pour donner un effet de profondeur */
}
.city-button {
    display: inline-block; /* Faire du texte un bouton */
    padding: 15px 30px; /* Espace autour du texte */
    background-color: white; /* Couleur de fond du bouton */
    color: black; /* Couleur du texte */
    font-size: 1.5rem; /* Taille du texte plus grande */
    font-weight: bold;
    text-decoration: none; /* Retirer le soulignement */
    border-radius: 5px; /* Coins arrondis */
    margin-bottom: 10px; /* Espacement sous le bouton */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Animation lors du survol */
}
.city-button:hover {
    background-color: white;
    transform: translateY(-5px);
}
.h2.h2{
    color: black;
    padding-left: 50px;
    font-size: 40px;
}
.h3.h3{
    color: black;
}

