body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:burlywood;
}


.logo {
    font-size: 30px;
    font-weight: bold;
    color: #555;
    text-align:left;
}

.logo span {
    color: #fff; /* Couleur nude pour "BET" */
}
.activities {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.activity {
    text-align: center;
}

.activity img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.activity p {
    margin-top: 5px;
    font-size: 30px;
    color:black;
}
.activities {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease-out forwards;
}
.logo {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }}
    /* Media Queries */
@media (max-width: 768px) {
    .logo {
        font-size: 30px;
    }
    
    .activity img {
        max-width: 112px;
        max-height: 112px;
    }

    .activity p {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 20px;
    }
    
    .activity img {
        max-width: 120px;
        max-height: 112px;
    }

    .activity p {
        font-size: 16px;
    }
}